.phoneDirectory {
	.section {
		margin-top: 0px;
	}

	.content {
		display: flex;
	}

	.filter {
		margin-left: 15px;
	}

	.filterLTR {
		margin-right: 15px;
	}

	.hierarchy {
		// height: 610px;
		margin-left: 15px;
		overflow: auto;
	}

	.hierarchyLTR {
		height: 610px;
		margin-right: 15px;
		overflow: auto;
	}

	.table {
		width: 80%;
	}

	.action {
		display: flex;
		justify-content: flex-end;
	}

	.btnDiv {
		margin-left: 5px;
	}

	.btnDivLTR {
		margin-right: 5px;
	}
}
