.activeStatus {
	display: flex;

	.icon {
		margin-left: 5px;
	}

	.iconLTR {
		margin-right: 5px;
	}

	.blink {
		border-radius: 50%;
		animation: anim-glow 2s ease infinite;
	}

	@keyframes anim-glow {
		0% {
			box-shadow: 0 0 rgba(97, 239, 97, 1);
		}

		100% {
			box-shadow: 0 0 10px 8px transparent;
			border-width: 2px;
		}
	}
}
