.landingPage {
	.container {
		margin: auto;
		padding: 0 25px;
		// width: 95%;
	}

	.sideBar {
		text-align: center;
		max-height: unset;
		// border: 1px solid black;s
		background-color: white;

		border-radius: 2px;

		// display: flex;
		// flex-direction: column;
	}

	.sideBarCard {
		flex: 1;
		// margin-bottom: 10px;
		overflow: hidden; /* Ensure content doesn't overflow */
	}

	.centerContainer {
		background-color: unset;
		border: unset;
		// border: 1px solid black;
	}
}

.modal {
	width: 1500px !important;
}
