.landingPage {
	.container {
		margin: auto;
		width: 95%;
	}

	.newsMarquee {
		margin-bottom: 30px;
	}

	.sideBar {
		text-align: center;
		// border: 1px solid black;
		background-color: white;
		border-radius: 2px;
	}

	.sideBarCard {
		margin-bottom: 15px;
	}

	.centerContainer {
		background-color: unset;
		border: unset;
		// border: 1px solid black;
	}
}

.modal {
	width: 1500px !important;
}
