@import "src/assets/css/colors.scss";

.button {
	background: $PRIMARY;
	color: $WHITE;
	height: 30px; //45px
	border: none;
	border-radius: 3px;
	transition: all 0.2s ease;

	font-family: "DINNextLTArabic";
	min-width: 50px; //110px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);

	padding: 0 15px;

	@media screen and (max-width: 767px) {
		& {
			height: 35px;
			line-height: 1;
			font-size: 1.4rem;
		}
	}

	&:active,
	&:focus,
	&:visited {
		background: $PRIMARY;
		box-shadow: none;
	}

	&:hover {
		background-color: $PRIMARY;
	}

	&.primary {
		// background-color: $background-red;
		// color: $color_white;
		border: none;
	}

	&.critical {
		background-color: #ff0033;
		// color: $color_white;
		border: none;
	}

	&.disabled {
		cursor: not-allowed;
	}

	&.roundButton {
		border-radius: 58px;
		// color: $color_white;
		border: none;
		background: #2a2a2e;
		font-family: Spartan;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 182%;
		/* or 25px */
		text-align: center;
	}

	&.withIcon {
		// border-radius: 58px;
		// color: $color_white;
		border: none;
		background: #2a2a2e;
		font-family: Spartan;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 182%;
		/* or 25px */
		text-align: center;
		min-width: auto;
	}

	&.withIconTransparent {
		// border-radius: 58px;
		// color: $color_white;
		border: none;
		color: black;
		background: transparent;
		font-family: Spartan;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 182%;
		/* or 25px */
		text-align: center;
		min-width: auto;
		box-shadow: none;
	}

	&.gradiant {
		background: linear-gradient(102.77deg, #b68a35 8.79%, #0a1222 141.81%);
		border: none;
		color: white;
	}
}
