.newsCaorousal {
	max-height: unset;
	// border: 1px solid black;
	.arrowContainer {
		z-index: 9;
		margin: 40px 20px 20px 20px;
		position: absolute;
		display: block;
		float: right;
	}

	.item {
		transition: 0.3s;
		margin: 5px 0;
	}
}
