.infoContainer {
	.section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0 15px;

		.content {
			margin-bottom: 15px;
			justify-content: space-between;
		}

		.title {
			font-size: 14px;
			font-weight: 600;
		}
	}
}
