.container {
	// padding: 15px 15px;
	// max-height: auto;
	overflow: inherit;
}

.project {
	// display: flex;

	.row {
		display: flex;
		margin-bottom: 15px;

		.imageContainer {
			margin-left: 15px;

			.image {
				color: white;
				background-color: rgb(97, 239, 97);
				max-height: 200px;
				// border: 2px rgb(97, 239, 97) solid;
				width: auto;
			}
		}

		.imageContainerRTL {
			margin-right: 15px;

			.image {
				color: white;
				background-color: rgb(97, 239, 97);
				max-height: 200px;
				// border: 2px rgb(97, 239, 97) solid;
				width: auto;
			}
		}

		.field {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		.inputField {
			margin-bottom: 15px;
		}

		.ddlField {
			display: flex;
			flex: 1;
			flex-direction: column;
			margin: 0 5px;
		}

		.check {
			display: flex;
			align-content: center;
			justify-content: flex-end;
		}

		.actions {
			display: flex;

			.btn {
				margin-left: 5px;
			}

			.btnLTR {
				margin-right: 5px;
			}
		}
	}
}
