@import "../../../assets/css/colors.scss";

.newsBar {
	direction: ltr;
	border-radius: 8px;
	margin-bottom: 20px;
}

.content {
	display: flex;
}

.textContainer {
	flex: 1;
	padding: 15px;
	text-align: right;
}

.header {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	// background-color: rgba(20, 31, 51, 0.9);
	// background: $PRIMARY;
	// color: $WHITE;
}

// Card.Body {
// 	padding: 0;
// 	Card.Text {
// 		font-size: 16px;
// 		text-align: right; /* Align text to the right */
// 	}
// }

.cardBody {
	// padding: 0;

	.text {
		font-size: 16px;
		text-align: right; /* Align text to the right */
	}
}

.imageContainer {
	flex-shrink: 0;
	width: 300px;
	padding: 15px;
}

.image {
	width: 100%;
	border-radius: 8px;
}

Button {
	background-color: #b58934;
	color: white;
	border: none;
	padding: 8px 16px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: #8d7235;
	}
}

.text {
	margin-bottom: 15px;
}
