.details {
	display: flex;
	// padding: 15px;

	flex-direction: column;

	.detail {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}
}

.buttonSection {
	width: 80px;
}

.cell {
	padding: 5px 5px;
}

.heading {
	font-weight: 800;
}
