.honorForm {
	.row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	.basic {
		width: 70%;
		.row {
			display: flex;
			margin-bottom: 15px;

			.field {
				display: flex;
				flex: 1;
				flex-direction: column;
			}

			.actions {
				display: flex;

				.btn {
					margin-left: 5px;
				}
				.btnLTR {
					margin-right: 5px;
				}
			}
		}
	}

	.ddlField {
		display: flex;
		flex: 1;
		flex-direction: column;
		// margin: 0 5px;
		margin-bottom: 15px;
	}

	.thumbnailContainer {
		width: 40rem; //25rem
		margin-right: 15px;

		.image {
			margin-bottom: 15px;
		}

		.browse {
			margin-bottom: 15px;
		}

		.imageContainer {
			// display: flex;
			// justify-content: left;
			.thumbnail {
				width: 154px;
			}

			.actionContainer {
				justify-content: right;
			}
		}

		// .image {
		// 	max-height: 300px;
		// 	max-width: 500px;
		// }

		.uploadSection {
			display: flex;
			margin-top: 15px;
			justify-content: left;
		}
	}

	.thumbnailContainerLTR {
		width: 40rem; //25rem
		margin-left: 15px;

		.image {
			margin-bottom: 15px;
		}

		.browse {
			margin-bottom: 15px;
		}
		// .image {
		// 	max-height: 300px;
		// 	max-width: 500px;
		// }

		.imageContainer {
			display: flex;
			justify-content: right;

			.thumbnail {
				width: 154px;
			}

			.actionContainer {
				margin-top: 5px;
				display: flex;
				justify-content: right;
			}
		}

		.uploadSection {
			display: flex;
			margin-top: 15px;
			justify-content: right;
		}
	}

	.buttonSection {
		margin-top: 15px;
		display: flex;

		.btn {
			margin-left: 5px;
		}

		.btnLTR {
			margin-right: 5px;
		}
	}
}
