.honorForm {
	.row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	.basic {
		width: 100%;
		.row {
			display: flex;
			margin-bottom: 15px;

			.field {
				display: flex;
				flex: 1;
				flex-direction: column;
			}

			.actions {
				display: flex;

				.btn {
					margin-left: 5px;
				}
				.btnLTR {
					margin-right: 5px;
				}
			}
		}
	}

	.ddlField {
		display: flex;
		flex: 1;
		flex-direction: column;
		// margin: 0 5px;
		margin-bottom: 15px;
	}

	.thumbnailContainer {
		width: 40rem; //25rem
		margin-right: 15px;

		.image {
			margin-bottom: 15px;
			width: 2in; /* or use width: 51mm; */
			height: 2in; /* or use height: 51mm; */
			object-fit: cover; /* or object-fit: contain; depending on your preference */
			border: 1px solid #000; /* optional: add a border */
			border-radius: 4px; /* optional: add border radius for a rounded look */
			margin-bottom: 15px;
		}

		.browse {
			margin-bottom: 15px;
		}

		.imageContainer {
			// display: flex;
			// justify-content: left;
			.thumbnail {
				width: 154px;
			}

			.actionContainer {
				justify-content: right;
			}
		}

		// .image {
		// 	max-height: 300px;
		// 	max-width: 500px;
		// }

		.uploadSection {
			display: flex;
			margin-top: 15px;
			justify-content: left;
		}
	}

	.thumbnailContainerLTR {
		width: 40rem; //25rem
		margin-left: 15px;
		display: flex;
		justify-content: center;

		.image {
			display: flex;
			justify-content: center;
			margin-bottom: 15px;
			max-width: 4in; /* or use max-width: 51mm; */
			max-height: 4in; /* or use max-height: 51mm; */
			// width: 100%; /* Ensures the image takes up 100% of the available width within the specified max-width */
			height: auto; /* Allows the height to adjust automatically based on the width, maintaining aspect ratio */
			object-fit: cover; /* or object-fit: contain; depending on your preference */
			border-radius: 4px; /* optional: add border radius for a rounded look */
			margin-bottom: 15px;
		}

		.browse {
			margin-bottom: 15px;
		}
		// .image {
		// 	max-height: 300px;
		// 	max-width: 500px;
		// }

		.imageContainer {
			display: flex;
			justify-content: right;

			.thumbnail {
				width: 154px;
			}

			.actionContainer {
				margin-top: 5px;
				display: flex;
				justify-content: right;
			}
		}

		.uploadSection {
			display: flex;
			margin-top: 15px;
			justify-content: right;
		}
	}

	.buttonSection {
		margin-top: 15px;
		display: flex;

		.btn {
			margin-left: 5px;
		}

		.btnLTR {
			margin-right: 5px;
		}
	}
}
