.assignProject {
    .row {
        display: flex;
        margin-bottom: 15px;
    }

    .rowItem {
        flex: 1;
        margin-left: 5px;
        margin-right: 5px;
    }

    .label {
        margin-bottom: 5px;
    }


    .container {
        padding: 0;
    }

    .rtlContainer {
        direction: rtl;
    }
}