.MuiInputLabel-formControl {
	font-family: "DINNextLTArabic" !important;
	font-size: 18px !important;
}

.MuiInputLabel-root {
	/* right: 0; */
	color: rgb(20, 31, 51) !important;
	font-size: 18px !important;
}

.MuiInputLabel-root:disabled {
	color: red;
}

.MuiFormControl-root-MuiTextField-root.Mui-disabled {
	/* right: 0; */
	color: red;
}

.MuiInputBase-input {
	/* font-size: 16px !important; */
	/* color: blue !important; */
}
