.project {
	display: flex;

	.statusDiv {
		margin-bottom: 15px;
	}

	.detail {
		flex: 1;
		margin-right: 15px;
	}

	.container {
		overflow: scroll;
	}

	.btnSection {
		display: flex;

		.btn {
			margin-left: 5px;
		}

		.btnLTR {
			margin-right: 5px;
		}
	}
}
