@import "../../assets/css/colors.scss";

.carouselActions {
	padding: 8px 15px;
	background-color: $PRIMARY;

	.icon {
		color: white;
		cursor: pointer;
	}

	.icon2 {
		margin-left: 15px;
	}
	.icon2_RTL {
		margin-right: 15px;
	}
}
