.p25 {
    margin: 10px;
    text-align: center !important;
    width: 300px;
}


.box{
    width: 300px;
    padding: 7%;
    text-align: center !important;
    border-radius: 5%;
}


.imageAlign{
    margin-left: auto;
    margin-right: auto;
    padding: 7%;
}


.image{
    width: 150px;
    padding: 7%;
}

.title{
    font-size: large;
    padding-bottom: 3%;
}