@import "../../assets//css/colors.scss";

.layout {
	margin-top: 70px;
	// margin-left: 20px;
	// margin-right: 20px;

	min-height: 880px;

	padding: 25px 25px;
	background-color: $BACKGROUNDSECONDARY;

	// border: 1px solid #888888;
	// box-shadow: 5px 10px #888888;
	// border-radius: 5px;
}
