.details {
	display: flex;
	// padding: 15px;

	flex-direction: column;

	.detail {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	.table {
		width: 100%;
	}

	.heading {
		font-weight: 800;
	}
}
.buttonSection {
	width: 80px;
}

.cell {
	padding: 5px 5px;
}
