@import "../../assets/css/colors.scss";

.card {
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	.textContainer {
		position: absolute;
		// bottom: 0; /* Adjusted position to be initially below the image */
		left: 0;
		// left: 50%;
		transform: translate(100%, 100%); /* Adjusted translateY value to 100% */
		text-align: center;
		color: whitesmoke;
		transition: transform 0.3s ease-in-out;
		// width: calc(100% - 2rem);
		width: 100%;

		h2 {
			font-size: 18px;
			// font-weight: bold;
			margin-bottom: 0;
			padding-top: 5px;
		}

		p {
			line-height: 1.35;
		}

		a {
			background-color: #ffa600;
			color: rgba(0, 0, 0, 0.75);
			padding: 0.75rem 1.5rem;
			display: inline-block;
			border-radius: 4px;
			text-decoration: none;

			&:hover {
				background-color: #e69500;
			}

			&:focus {
				outline: 1px dashed #e69500;
				outline-offset: 3px;
			}
		}

		// .card:hover & {
		// 	transform: translateY(0); /* Adjusted translateY value */
		// }

		> *:not(h2) {
			opacity: 0;
			transform: translateY(1rem);
			transition: all 700ms ease-in-out;
		}
	}

	.textContainer:hover {
		background-color: rgba(0, 0, 0, 0.75);
	}
}

@media (hover: hover) and (min-width: 700px) and (prefers-reduced-motion: no-preference) {
	.section > .textContainer {
		transform: translateY(calc(100% - 6.5rem)); /* Adjusted translateY value */
		height: 5rem;
		// overflow: hidden;
		transition: all 700ms ease-in-out;
		color: $PRIMARY;

		> *:not(h2) {
			opacity: 0;
			transform: translateY(1rem);
			transition: all 700ms ease-in-out;
		}
	}

	.textContainer:hover,
	.section:focus-within .textContainer {
		transform: translateY(-92%);
		height: calc(100% - 0rem);
		left: 0;
		color: white;

		> *:not(h2) {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
