.container {
	// padding: 15px 15px;
	// max-height: auto;
	overflow: inherit;
}

.department {
	// display: flex;

	.row {
		display: flex;
		margin-bottom: 15px;

		.field {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		.inputField {
			margin-bottom: 15px;
		}

		.ddlField {
			display: flex;
			flex: 1;
			flex-direction: column;
			margin: 0 5px;
		}

		.actions {
			display: flex;

			.btn {
				margin-left: 5px;
			}

			.btnLTR {
				margin-right: 5px;
			}
		}
	}
}
