.newsCaorousal {
	max-height: 1200px;
	position: relative;
	overflow: hidden;
	// max-height: unset;
	transition: 3ms;
	// border: 1px solid black;
	.arrowContainer {
		z-index: 9;
		margin: 85px 0px 0 15px;
		position: absolute;
		display: block;
		float: right;
	}

	.item {
		margin: 5px 0;
	}
}
