.signForm {
	.section {
		padding: 5px;
		// width: 100%;
		display: flex;
		// flex-direction: row;
	}
	.row {
		display: flex;
		justify-content: space-between;
	}

	.thumbnailContainer {
		margin-left: 15px;

		.browse {
			margin-bottom: 15px;
		}
		.image {
			max-height: 300px;
			max-width: 500px;
		}

		.uploadSection {
			display: flex;
			justify-content: left;
		}
	}

	.thumbnailContainerLTR {
		margin-right: 15px;

		.browse {
			margin-bottom: 15px;
		}
		.image {
			max-height: 300px;
			max-width: 500px;
		}

		.uploadSection {
			display: flex;
			justify-content: right;
		}
	}
}
