.paginatedTable {
	margin-bottom: 15px;

	.scrollable {
		overflow: auto; /* Enable scrolling */
		-webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
		max-height: 800px; /* Set maximum height to enable scrolling */
		height: fit-content;
		height: 500px;
		/* Add additional styling as needed */
	}

	.searchContainer {
		margin-top: 0;
		display: flex;
		padding: unset;

		.noShadow {
			box-shadow: unset;
			margin-bottom: unset;
		}

		.search {
			display: flex;
			flex: 1;
			width: 100%;
			box-shadow: unset;
			align-items: center;
		}

		.bar {
			display: flex;
			// flex: 1;
			.info {
				// margin-left: 5px;
				// flex: 1;
			}

			.infoLTR {
				// flex: 1;
				// margin-right: 5px;
			}
		}
	}
	.selectionContainer {
		display: flex;
		padding: 15px;
		z-index: 44;
		position: relative;
	}

	.detailBar {
		display: flex;
		flex: 1;
		.info {
			margin-left: 5px;
			// flex: 1;
		}

		.infoLTR {
			// flex: 1;
			margin-right: 5px;
		}

		.selection {
			flex: 1;
			margin-right: 5px;
		}

		.selectionLTR {
			flex: 1;
			margin-left: 5px;
		}
	}

	.name {
		display: flex;
		flex-direction: column;

		.arabic {
			display: flex;
			justify-content: right;
		}

		.english {
			display: flex;
			justify-content: left;
		}
	}

	.action {
		display: flex;
		justify-content: flex-end;
	}

	.btnDiv {
		margin-left: 5px;
	}

	.btnDivLTR {
		margin-right: 5px;
	}

	.box {
		padding: 6px;
	}
}
