.boxList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: start;

	// justify-content: space-between;

	// display: block;
	// // flex-direction: row;
	// align-items: center;
}
