// @import "../../assets/css/variable.scss";

.title {
	font-size: unset !important;
	margin-bottom: 5px;
}

.DateSelector {
	font-size: 16px;
}

.MuiPickersToolbar-toolbar {
	background-color: red !important;
}
