@import "src/assets/css/colors.scss";


.status {
    display: flex;

    .text {
        margin: 0 5px;
        font-weight: 600;
    }

    .active {
        color: green;
    }

    .deactive {
        color: $ERROR;
    }
}