.container {
	.actionContainer {
		display: flex;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
		background-color: white;
		padding: 20px;
		margin-bottom: 20px;
		min-height: 50px;
		border-radius: 8px;

		.action {
			flex: 1;
		}
	}

	.heading {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		.title {
			font-size: 30px;
		}
	}

	.btnSection {
		display: flex;

		.btn {
			margin-left: 5px;
		}

		.btnLTR {
			margin-right: 5px;
		}
	}
}
