@import "../../assets/css/colors.scss";

.footer {
	position: fixed;
	padding-top: 15px;
	// margin-top: 30px;
	height: 60px;
	background-color: $BACKGROUNDPRIMARY;
	// padding: 15px;
	justify-content: center;
	bottom: 0;
	width: 100%;
	border-top: 1px solid black;
	font-size: 12px;

	.title {
		display: flex;
		justify-content: center;
	}
}
