@import "../../assets/css/colors.scss";

.footer {
	position: fixed;
	// margin-top: 30px;
	height: 55px;
	background-color: $BACKGROUNDPRIMARY;
	padding: 15px;
	justify-content: center;
	bottom: 0;
	width: 100%;
	border-top: 1px solid black;

	.title {
		display: flex;
		justify-content: center;
	}
}
