@import "../../assets/css/variable.scss";
@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

$border-radius: 0px;

.tableWrapper {
	position: relative;
	padding: unset;
	width: 100%;
	border-radius: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); //5px 5px #888888;

	.table {
		width: 100%;
		border: none;
		position: relative;
		border-collapse: separate;
		border-spacing: 0 2px;

		background-color: white;

		.txtFilter {
			color: blue;
			width: 100%;
			font-size: 16px;
			//
			flex-direction: column;
			position: relative;
			min-width: 0;
			padding: 2px 8px;
			// margin: 0;
			// border: 0;
			vertical-align: top;
			width: 100%;
			margin: 8px;
			min-height: 38px;
			background-color: rgb(255, 255, 255);
			border-radius: 4px;
			border-style: solid;
			border-width: 1px;
			border-color: rgb(204, 204, 204);
			border-style: solid;
			border-width: 1px;
		}

		.ddl {
			color: $PRIMARY;
			font-size: 16px;
			min-height: 38px;
			// min-width: 150px;
			width: 100%;
			z-index: 9999;
			// width: 100%;
		}

		.tableHead {
			position: sticky; /* Make the header sticky */
			top: 0; /* Position it at the top of the wrapper */
			z-index: 2; /* Ensure it's above the table body */
			background-color: white; /* Set a background color for better visibility */
			height: 60px;

			.heading {
				margin-bottom: 5px;
				// width: max-content;
			}

			.info {
				display: flex;
				white-space: nowrap;
				align-items: center;
			}

			th {
				text-align: center;
				// color: #000;
				font-weight: 500;
				font-size: 16px;
				line-height: 15px;
				letter-spacing: 2px;
				text-transform: uppercase;
				position: sticky;
				top: 0;
				cursor: pointer;

				&:first-child {
					// border-radius: 0 $border-radius 0 0;
					// border-radius: $border-radius 0 0 0;
				}

				&:last-child {
					// border-radius: $border-radius 0 0 0;
					// border-radius: 0 $border-radius 0 0;
				}

				@include respond-to("mobile") {
					padding: 1px;
					white-space: nowrap;
				}
			}
		}

		.tableHeadLTR {
			th {
				justify-content: center;
				// display: flex; <- uncomment
				align-items: center;
			}

			.heading {
				margin-bottom: 5px;
			}
		}

		.tableBody {
			color: #000;

			.tableRow {
				// border-radius: 8px;
				margin-bottom: 2px;
				// font-size: 16px;
				// vertical-align: top;

				&:hover {
					background: linear-gradient(
						to bottom,
						#c8cfcf -56.95%,
						rgba(20, 31, 51, 0) 186.3%
					) !important;
					cursor: pointer;
				}

				&.subRow {
					.nested {
						width: 100%;
						border-radius: $border-radius;

						.table {
							border-spacing: 0;

							.tableBody {
								tr {
									&:last-child {
										td {
											&:first-child {
												border-radius: 0 0 0 $border-radius;
											}

											&:last-child {
												border-radius: 0 0 $border-radius 0;
											}
										}
									}
								}

								td {
									border-radius: 0;
									border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

									&:first-child {
										border-left: 0.5px solid rgba(255, 255, 255, 0.5);
									}

									&:last-child {
										border-right: 0.5px solid rgba(255, 255, 255, 0.5);
									}
								}
							}
						}

						&:hover {
							background-color: none;
						}
					}

					&:hover {
						cursor: default;
						background: none !important;
					}
				}

				td {
					margin: 0;
					padding: 6px 12px;

					text-align: center;
					font-style: normal;
					// font-weight: bold;
					line-height: 18px;

					@include respond-to("mobile") {
						padding: 10px;
						white-space: nowrap;
					}
				}

				td.noRecordsRow {
					text-align: center;
					border-radius: 0 0 $border-radius $border-radius !important;
				}

				td:first-child {
					border-radius: $border-radius 0 0 $border-radius;
				}

				td:last-child {
					border-radius: 0 $border-radius $border-radius 0;
				}

				@include respond-to("mobile") {
					height: auto !important;
				}
			}

			.tableRowLTR {
				td {
					text-align: center;
				}
			}
		}
	}
}
