.userList {
    .section {
        margin-top: 0px;
    }

    .content {
        display: flex;
    }

    .hierarchy {
        padding-left: 15px;
    }

    .table {
        width: 80%;
    }

    .action {
        display: flex;
    }

    .btnDiv {
        margin-left: 5px;
    }
}