.checkTree {
	.rct-title {
		white-space: nowrap;
	}

	.btnSection {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
}

.react-checkbox-tree label {
	font-size: 18px;
	flex-wrap: nowrap;
	display: flex;
}
